<!-- app/views/recipes/new.html.erb -->
<h1>Nova Receita</h1>

<%= form_with model: @recipe, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :ingredients %>
    <%= form.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
  </div>

  <div>
    <%= form.submit 'Criar Receita' %>
  </div>
<% end %>

<% if @recipe.instructions.present? %>
  <h2>Sugestão de Receita:</h2>
  <p><%= @recipe.instructions %></p>
<% end %>
