<h1><%= action_name == "new" ? "Criar Nova Receita" : "Editar Receita" %></h1>
<%= form_with model: @recipe, local: true do |f| %>
  <div>
    <%= f.label :name, "Nome da Receita" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :instructions, "Instruções" %>
    <%= f.text_area :instructions %>
  </div>
  <div>
    <%= f.label :ingredient_ids, "Ingredientes" %>
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
  </div>
  <div>
    <%= f.submit "Salvar Receita" %>
  </div>
<% end %>
