<div class="card bg-white border-0 shadow-sm mb-4"> <!-- Div do formulário de criação de receita -->
  <div class="card-body"> <!-- Corpo do cartão -->
    <h1 class="card-title h2"><%= t('.title') %></h1> <!-- Título do formulário -->
    <p class="card-text text-muted"><%= t('.description') %></p> <!-- Descrição do formulário -->

    <%= form_with(model: @recipe, local: true) do |form| %> <!-- Início do formulário -->
      <div class="mb-3"> <!-- Div do campo de ingredientes -->
        <%= form.label :ingredients, t('.ingredients_label'), class: "form-label" %>
        <%= form.text_area :ingredients,
                            rows: 5,
                            class: "form-control",
                            placeholder: "Ex: 2 peitos de frango, 1 lata de tomate pelado, 1 cebola..." %>
      </div>

      <div class="d-grid gap-2"> <!-- Div do botão de envio -->
        <%= form.submit t('.submit_button'), class: "btn btn-primary btn-lg" %> <!-- Botão de envio -->
      </div>
    <% end %>
  </div>
</div>
