<% if @recipe.image_url.present? %> <!-- Verifica se há uma URL de imagem disponível -->
  <%= image_tag @recipe.image_url, alt: @recipe.title, style: "max-width: 50%; height: auto;" %> <!-- Exibe a imagem da receita com estilo para ajustar o tamanho -->
  <br><br>
<% end %>

<h1><%= @recipe.title %></h1>
<h3>Ingredientes Usados:</h3>
<p><%= @recipe.ingredients %></p> <!-- Exibe os ingredientes da receita -->
<hr>

<h3>Modo de Preparo:</h3>
<p><%= simple_format(@recipe.instructions) %></p> <!-- Exibe as instruções de preparo da receita, formatando quebras de linha -->
<br>
<%= link_to "Ver todas as minhas receitas", recipes_path %>
