<div class="row justify-content-center"> <!-- Início da linha de conteúdo -->
  <div class="col-lg-8">

    <div class="card bg-white border-0 shadow-sm mb-4"> <!-- Card para a receita -->
      <div class="card-body">

        <%# --- IMAGEM DENTRO DO CARD-BODY --- %>
        <% if @recipe.photo.attached? %> <!-- Verifica se a imagem está presente -->
          <div class="text-center"> <!-- Centraliza a imagem -->
            <%= image_tag @recipe.photo,
                          class: "img-fluid rounded-3 mb-4 w-75",
                          alt: @recipe.title %>
          </div>
        <% end %>
        <%# ------------------------------------ %>

        <h1 class="card-title h2"><%= @recipe.title %></h1> <!-- Título da receita -->

        <hr>

        <h3 class="h5 text-muted">Ingredientes Usados:</h3> <!-- Subtítulo para ingredientes -->
        <p class="card-text mb-4"> <!-- Parágrafo para ingredientes -->
          <%= @recipe.ingredients %>
        </p>

        <h3 class="h5 text-muted">Modo de Preparo:</h3> <!-- Subtítulo para modo de preparo -->
        <div class="card-text"> <!-- Texto do modo de preparo -->
          <%= simple_format(@recipe.instructions) %>
        </div>
      </div>
    </div>

    <div class="d-grid gap-2">
      <%= link_to "Ver todas as minhas receitas", recipes_path, class: "btn btn-secondary" %>
    </div>

  </div>
</div>
