<footer class="bg-secondary text-white text-center py-3 mt-auto">
  <div class="container">
    <p class="mb-0">
      &copy; <%= Time.now.year %> <span class="font-brand">EasyFood</span>. <%= t("layouts.footer.rights_reserved") %>
    </p>
    <p class="mb-0">
      <%= t("layouts.footer.created_by") %> <%= link_to t("layouts.footer.about"), pages_about_path, class: "text-white" %>
    </p>
  </div>
</footer>

<!-- linha 1: bg-secondary: define a cor de fundo do footer -->
<!-- linha 1: text-white text-center: define a cor do texto como branco e centraliza o conteúdo -->
<!-- linha 1: py-3: adiciona padding vertical de 3 unidades -->
<!-- linha 1: mt-auto: empurra o footer para o final da página -->
<!-- linha 4: &copy; <%= Time.now.year %>: exibe o símbolo de copyright e o ano atual -->
