<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <%= image_tag "easyfood_logo.png", alt: "EasyFood Logo", style: "height: 35px; width: auto;" %>
      <span class="ms-2">EasyFood</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= recipes_path %>">Minhas Receitas</a>
          </li>
          <li class="nav-item">
             <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-outline-light" %>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_session_path %>">Entrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_registration_path %>">Cadastrar</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
